@charset "UTF-8";

/* section */

body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0 auto;
}

/* section */

.section-wrap{
    text-align: center;
}

.section-inner{
    width: 90%;
    margin: 0 auto;
}

.section-ttl{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    border-bottom: 2px solid #000;
}



/* header */

.header{
    position: relative;
    height: 768px;
    background-image:url(img/kv-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-img{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
}

/* concept */

.concept{
    height: 669px;
    background-color: #FCF9F2;
    padding-top: 96px;
}

.concept-content{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.concept-text{
    position: absolute;
    left: 90px;
    padding-top: 171px;
}

.concept-text-1{
    font-size: 36px;
}

.concept-text-2{
    font-family: 'Oswald', sans-serif;
    font-size: 84px;
    margin-bottom: 16px;
}

.concept-text-3{
    font-size: 16px;
}

.concept-img{
    position: absolute;
    right: 76px;
    width: 667px;
}

/* menu */

.menu{
    margin: 0 auto;
    padding-top: 180px;
    background-color: #FCF9F2;
    padding-bottom: 96px;
}

.menu-sub{
    margin: 0 auto;
    width: 85%;
}


.menu-list{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
}

.menu-item:nth-last-child(-n+2){
    margin-top: 56px;
}

.menu-item-img{
    height: 338px;
    width: 509px;
}

.menu-item-text-main{
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 16px;
}

.menu-item-content{
    text-align: left;
}



/* kv */

.kv{
    height: 496px;
    background-image: url(img/burgers-1839090.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 10%;
    margin: 0 0 96px;
}

/* shop */

.shop{
    background-color: #fff;
}

.shop-info{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.shop-img{
    height: 300px;
    width: 540px;
}

.shop-content{
    padding: 27px 150px 27px 64px;
    height: 300px;
    text-align: left;

}

.shop-name{
    font-size: 24px;
    font-weight: medium;
    margin-bottom: 24px;
}

.shop-access{
    margin-top: 24px;
}

/* footer */

.footer{
    background-color: #FCF9F2;
    margin-top: 96px;
}

.footer-shop-info{
    display: flex;
    justify-content: space-between;
    height: 291px;
    align-items: center;
    padding-left: 100px;
}

.logo-info{
    display: flex;
}

.footer-img{
    width: 233px;
    height: 99px;
}

.footer-nav-list{
    display: flex;
    font-family: 'Oswald', sans-serif;
    padding-right: 100px;
}

.nav-item + .nav-item{
    margin-left: 12px;
}

.footer-content{
    margin-left: 40px;
}

.footer-cr{
    display: block;
    color: #fff;
    background-color: #11361F;
    height: 65px;
    padding: 24px 615px;
}
